doc/xsd/logger_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema version="$Id$"
            xml:lang="en"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Test Environment
      XML schema for Logger configuration file.

      Copyright (C) 2003-2012 Test Environment authors (see file AUTHORS
      in the root directory of the distribution).

      Test Environment is free software; you can redistribute it
      and/or modify it under the terms of the GNU General Public
      License as published by the Free Software Foundation; either
      version 2 of the License, or (at your option) any later version.
        
      Test Environment is distributed in the hope that it will be
      useful, but WITHOUT ANY WARRANTY; without even the implied
      warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
      PURPOSE. See the GNU General Public License for more details.
        
      You should have received a copy of the GNU General Public
      License along with this program; if not, write to the Free
      Software Foundation, Inc., 59 Temple Place, Suite 330,
      Boston, MA  02111-1307  USA
 
      Author: Igor B. Vasiliev &lt;Igor.Vasiliev@oktetlabs.ru&gt;
    </xsd:documentation>
  </xsd:annotation>

  <xsd:element name="loggerConf">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The root element of the Logger configuration file.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="polling" minOccurs="1" maxOccurs="1">
          <xsd:complexType>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">

              <xsd:element name="type" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      This element is not mandatory and provides 
                      the polling parameter value to the Test Agents of
                      the separate type. In the case if polling parameter
                      is not assigned to the separate Test Agent yet and
                      Test Agent belongs to this type the value is used.
                      Test Agent "type" should be set as some regular
                      expression.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="type" type="xsd:string"/>
                  <xsd:attribute name="value" type="xsd:positiveInteger"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="agent" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      This element is not mandatory and can be used to 
                      assign polling parameter value to the separate 
                      Test Agent.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="agent" type="xsd:string"/>
                  <xsd:attribute name="value" type="xsd:positiveInteger"/>
                </xsd:complexType>
              </xsd:element>

            </xsd:choice>

            <xsd:attribute name="default" type="xsd:positiveInteger"
                            use="required">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">
                  This attribute is mandatory and provides the polling
                  agent parameter default value. 
                  In the case if polling parameter is not assigned 
                  to the separate Test Agent the default value is used.
                </xsd:documentation>
              </xsd:annotation>
            </xsd:attribute>

          </xsd:complexType>
        </xsd:element>

        <xsd:element name="defaultSnifferSets">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Capture logs polling default settings.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>

              <xsd:element name="snif_fname">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Template capture file name. By default it's
                      *full sniffer id*.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="default" type="xsd:string"
                                 default=""/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_path">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Default capture log files directory will be located:
                      TE_LOG_DIR/caps.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="default" type="xsd:string"
                                 default="caps"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_max_fsize">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Max file size for one sniffer. Zero for unlimited.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="default" type="xsd:integer"
                                 default="16"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_space">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Max total capture files size for one sniffer. Zero for
                      unlimited.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="default" type="xsd:integer"
                                 default="64"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_rotation">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Rotate agent side temporary logs across *x* files.
                      Zero for unlimited.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="default" type="xsd:integer"
                                 default="4"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_overall_size">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Max total files size for all sniffers. Zero
                      for unlimited.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="default" type="xsd:integer"
                                 default="256"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_ovefill_meth">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Overfill handel method: 0 - rotation; 1 - tail drop.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="default" type="xsd:boolean"
                                 default="0"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_period">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Period of taken logs from agents in ms.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="default" type="xsd:integer"
                                 default="200"/>
                </xsd:complexType>
              </xsd:element>

            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

        <xsd:element name="userSnifferSets">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Capture logs polling user settings.
            </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>

              <xsd:element name="snif_fname">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Template capture file name. By default it's
                      *full sniffer id*.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="value" type="xsd:string"
                                 default="%a_%i_%s_%n"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_path">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Default capture log files directory will be located:
                      TE_LOG_DIR/caps.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="value" type="xsd:string"
                                 default="caps"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_max_fsize">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Max file size for one sniffer. Zero for unlimited.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="value" type="xsd:integer"
                                 default="16"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_space">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Max total capture files size for one sniffer. Zero for
                      unlimited.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="value" type="xsd:integer"
                                 default="64"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_rotation">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Rotate agent side temporary logs across *x* files.
                      Zero for unlimited.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="value" type="xsd:integer"
                                 default="4"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_overall_size">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Max total files size for all sniffers. Zero for
                      unlimited.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="value" type="xsd:integer"
                                 default="256"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_ovefill_meth">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Overfill handel method: 0 - rotation; 1 - tail drop.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="value" type="xsd:boolean"
                                 default="0"/>
                </xsd:complexType>
              </xsd:element>

              <xsd:element name="snif_period">
                <xsd:complexType>
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">
                      Period of taken logs from agents in ms.
                    </xsd:documentation>
                  </xsd:annotation>
                  <xsd:attribute name="value" type="xsd:integer"
                                 default="200"/>
                </xsd:complexType>
              </xsd:element>

            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
