doc/xsd/rcf_config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xml:lang="en" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="function_call">
        <xsd:annotation>
            <xsd:documentation>
                Function/Thread/Task call type
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arg" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="value" type="xsd:string"
                        use="required">
                        <xsd:annotation>
                            <xsd:documentation>
                                Value of the nth argument
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    Name of a function to call
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="when" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    If this attribute is present, the function is
                    only called when the expanded value of the
                    attribute is not empty
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:simpleType name="conf_name">
        <xsd:restriction base="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    The name of test Agent's parameter
                </xsd:documentation>
            </xsd:annotation>
            <xsd:enumeration value="host">
                <xsd:annotation>
                    <xsd:documentation>
                        IP address or hostname
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="port">
                <xsd:annotation>
                    <xsd:documentation>
                        TCP port to bind TCP server on the Test Agent
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="user">
                <xsd:annotation>
                    <xsd:documentation>
                        User name to log in to host
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="key">
                <xsd:annotation>
                    <xsd:documentation>
                        SSH private key file
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ssh_port">
                <xsd:annotation>
                    <xsd:documentation>
                        TCP port to be used by SSH
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="copy_timeout">
                <xsd:annotation>
                    <xsd:documentation>
                        Maximum time duration in seconds,
                        that is allowed for image copy operation
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="copy_tries">
                <xsd:annotation>
                    <xsd:documentation>
                        Number of tries to perform image copy operation
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="kill_timeout">
                <xsd:annotation>
                    <xsd:documentation>
                        Maximum time duration in seconds, that is allowed
                        for Test Agent termination procedure
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="sudo">
                <xsd:annotation>
                    <xsd:documentation>
                        Option used when we need to run agent under sudo
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="shell">
                <xsd:annotation>
                    <xsd:documentation>
                        Used to run the Test Agent under valgrind tool with
                        a set of options
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ld_preload">
                <xsd:annotation>
                    <xsd:documentation>
                        LD_PRELOAD value (path to shared libraries)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="conf_param">
        <xsd:annotation>
            <xsd:documentation>
                Test agent configuration parameter
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="conf_name" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Name of parameter
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="cond" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            Use condition
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:element name="rcf">
        <xsd:annotation>
            <xsd:documentation>
                Test Environment
                XML schema for RCF configuration file

                Copyright (C) 2004-2019 OKTET Labs.

                Author: Elena Vengerova &lt;Elena.Vengerova@oktetlabs.ru&gt;
            </xsd:documentation>
        </xsd:annotation>

        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="ta" minOccurs="0" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            Parameters of the one Test Agent.
                        </xsd:documentation>
                    </xsd:annotation>

                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="conf"
                                type="conf_param"
                                minOccurs="0" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>
                                        Test agent configuration parameter
                                    </xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:choice>
                                <xsd:element name="function"
                                    type="function_call"
                                    minOccurs="0" maxOccurs="unbounded">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            A function to call at TA startup
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="thread"
                                    type="function_call"
                                    minOccurs="0" maxOccurs="unbounded">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            A thread to start at TA startup
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="task"
                                    type="function_call"
                                    minOccurs="0" maxOccurs="unbounded">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            A process to start at TA startup
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:choice>
                        </xsd:sequence>

                        <xsd:attribute name="name" type="xsd:string"
                            use="required">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Name of the Test Agent.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>

                        <xsd:attribute name="type" type="xsd:string"
                            use="required">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Type of the Test Agent.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>

                        <xsd:attribute name="rcflib" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Name of the shared RCF TA-specific
                                    library for the Test Agent.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>

                        <xsd:attribute name="synch_time" type="xsd:string"
                            default="no">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Enable/disable time synchronization.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>

                        <xsd:attribute name="rebootable" type="xsd:string"
                            default="no">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Indicate rebootability of TA.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>

                        <xsd:attribute name="fake" type="xsd:string"
                            default="no">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Indicate that TA is already running
                                    under gdb.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>

                        <xsd:attribute name="disabled" type="xsd:string"
                            default="no">
                            <xsd:annotation>
                                <xsd:documentation>
                                    If 'yes', ignore this TA.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>

                        <xsd:attribute name="cold_reboot" type="xsd:string">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Specifies power-ctl TA and its
                                    parameters that can be used to perform
                                    cold reboot ot this TA.
                                    Usually has the form
                                    '[power TA name]:[outlet name]',
                                    e.g. 'Agt_A:5' or 'Agt_A:nori'
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:attribute>

                    </xsd:complexType>
                </xsd:element>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
