doc/xsd/tester_defs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: Apache-2.0 -->
<!-- Copyright (C) 2004-2025 OKTET Labs Ltd. All rights reserved. -->
<xsd:schema xml:lang="en"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:annotation>
        <xsd:documentation>
            Test Environment
            Definition of common types for Test Subsystem configuration
            file and Test Package description file specifications
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="PersonInfo">
        <xsd:annotation>
            <xsd:documentation>
                Information about person.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Name.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="mailto" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    E-mail addresses.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="Requirement">
        <xsd:annotation>
            <xsd:documentation>
                Type for requirements declaration.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="id" type="xsd:token">
            <xsd:annotation>
                <xsd:documentation>
                    Requirement ID.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:token">
            <xsd:annotation>
                <xsd:documentation>
                    Reference to argument value, i.e. requirement ID
                    depends on argument value and is equal to it.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="exclude" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation>
                    The attribute may be specified in set of requirements
                    in configuration file (to be tested). If it is true,
                    tests marked with the requirement should be excluded
                    from testing.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="sticky" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation>
                    This attribute may be useful in a test package set
                    of requirements. If it is true, it means that ALL
                    descendants test the requirement.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="Field">
        <xsd:annotation>
            <xsd:documentation>
                Type for structured value field description.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>
                            The name of a field.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
                <xsd:attribute name="type" type="xsd:Name">
                    <xsd:annotation>
                        <xsd:documentation>
                            The type of a field.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="Value" mixed="true">
        <xsd:annotation>
            <xsd:documentation>
                Representation of value for session variable or run
                argument.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="field"  type="Field" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Identifier to be referred from 'preferred'
                    attribute of the parent or 'ref'
                    attribute of another value of the parent.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Identifier of another value of the argument
                    or reference to external value (name of the
                    variable of the parent session or name of
                    the argument passed to the sesiion).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="reqs" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    Comman separated list of requirement IDs
                    associated with this value.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Defines the type of a certail value.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="TestParameter">
        <xsd:annotation>
            <xsd:documentation>
                Representation of test parameter: session variable or
                an argument passed to the item to run.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="Value"
                                  minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                         Set of variable values.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:Name" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    Specifies variable/argument name.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
<!--
        <xsd:attribute name="random" type="boolean">
            <xsd:annotation>
                <xsd:documentation>
                    Forces Tester to choose values in random or strict
                    (default) order. Default value may be overridden by
                    'forcerandom' attribute of ancessor 'run' element.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
-->
        <xsd:attribute name="type" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Defines type of the variable/argument. It's required
                    to automatically generate random values.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="list">
            <xsd:annotation>
                <xsd:documentation>
                    Controls enumeration policy for values.
                    This attribute is useful to organize parallel
                    enumeration of two or more lists. For example,
                    if A = {a1, a2, a3}, B = {b1, b2, b3} and the
                    attribute is false for both variables/arguments,
                    then following pairs are used {a1, b1}, {a2, b2},
                    {a3, b3}.
                </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:union memberTypes="xsd:token EmptyString" />
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="preferred" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Refers to the preferred value. It has sence if
                    'foreach' attribute is false. Default preferred
                    value is the last. For example, if A = {a1, a2, a3},
                    B = {b1, b2} and 'foreach' attribute is false for
                    both variables/arguments, then following pairs are
                    used {a1, b1}, {a2, b2}, {a3, b2} by default.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Name of the argument passed to the session or name
                    of session variable to get the value. If this
                    attribute and any other sources of value are not
                    specified it's assumed that it equals to the 'name'
                    attribute.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    Value of the parameter, if only one value is
                    specified.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="global" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation>
                    If true, the variable definition is accessible from
                    other packages.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="Enumeration">
        <xsd:annotation>
            <xsd:documentation>
                A set of reusable enumeration values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="value" type="Value"
                                  minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                         Set of enumeration values.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:Name" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    Specifies variable/argument name.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="type" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Defines type of the variable/argument. It's required
                    to automatically generate random values.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="global" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation>
                    If true, the enumeration definition is accessible from
                    other packages.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="description" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    Description of the enumeration.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:group name="Arguments">
        <xsd:annotation>
            <xsd:documentation>
                Possible types of argument elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arg" type="TestParameter" minOccurs="0"
                     maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Arguments to be passed to executable.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:unique name="arg_values">
                    <xsd:annotation>
                        <xsd:documentation>
                            A value name should be unique
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:selector xpath="value" />
                    <xsd:field xpath="@name" />
                </xsd:unique>
                <xsd:keyref name="arg_preferred" refer="arg_values">
                    <xsd:annotation>
                        <xsd:documentation>
                            Define that 'preferred' attribute of the
                            current element must be a reference to
                            one of its values.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:selector xpath="."/>
                    <xsd:field    xpath="@preferred"/>
                </xsd:keyref>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>

    <xsd:simpleType name="TrackConfType">
        <xsd:annotation>
            <xsd:documentation>
                Types of configuration changes tracking.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="(yes|no|barf|yes_nohistory|barf_nohistory|silent|silent_nohistory|nohistory|sync)(\|(yes|no|barf|yes_nohistory|barf_nohistory|silent|silent_nohistory|nohistory|sync))*" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PropertyHanddownType">
        <xsd:annotation>
            <xsd:documentation>
                Types of inheritance.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="none"/>
            <xsd:enumeration value="children"/>
            <xsd:enumeration value="descendants"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:attributeGroup name="RunItemAttributes">
        <xsd:annotation>
            <xsd:documentation>
                Group of attributes applied for any run item.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="timeout" type="xsd:duration">
            <xsd:annotation>
                <xsd:documentation>
                    Timeout to break running. If it's not specified,
                    current default value is used.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="track_conf" type="TrackConfType" default="yes">
            <xsd:annotation>
                <xsd:documentation>
                    Tracks changes of the configuration. Enabled by
                    default. May be disabled by corresponging option.
                    Automatically disabled for all descendants of the
                    simultaneous session.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="track_conf_handdown" type="PropertyHanddownType"
                                              default="children">
            <xsd:annotation>
                <xsd:documentation>
                    Type of inheritance.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:attributeGroup>

    <xsd:complexType name="Script">
        <xsd:annotation>
            <xsd:documentation>
                External script (executable).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="description" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Description of the test provided by the script.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="objective" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Objective of the test provided by the script.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="req" type="Requirement">
                <xsd:annotation>
                    <xsd:documentation>
                        Complete set of requirements verified by the
                        script.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="execute" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Name of the file to execute in current package
                        directory. If the element is skipped, it's
                        equal to the 'name' attribute.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:choice>
        <xsd:attribute name="name" type="xsd:token">
            <xsd:annotation>
                <xsd:documentation>
                    Test name.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attributeGroup ref="RunItemAttributes"/>
    </xsd:complexType>

    <xsd:complexType name="Run-Template">
        <xsd:annotation>
            <xsd:documentation>
                Default argument Template.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="script" type="Script" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Default script for template.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:group ref="Arguments"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Name of default argument template.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:group name="Executable">
        <xsd:annotation>
            <xsd:documentation>
                Group of elements applied for all executables.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="script" type="Script">
                    <xsd:annotation>
                        <xsd:documentation>
                            External script to be executed.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="session" type="Session">
                    <xsd:annotation>
                        <xsd:documentation>
                            Session to be executed.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:group ref="Arguments"/>
        </xsd:sequence>
    </xsd:group>

    <xsd:complexType name="PrologueEpilogue">
        <xsd:annotation>
            <xsd:documentation>
                Type of prologue and epilogue elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="Executable"/>
    </xsd:complexType>

    <xsd:complexType name="InheritableExecutable">
        <xsd:annotation>
            <xsd:documentation>
                Type of elements which may be inherited by descendants.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="Executable">
            <xsd:annotation>
                <xsd:documentation>
                    Group of elements for executables.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:group>
        <xsd:attribute name="handdown" type="PropertyHanddownType"
                                   default="descendants">
            <xsd:annotation>
                <xsd:documentation>
                    Type of inheritance.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="Session">
        <xsd:annotation>
            <xsd:documentation>
                Set of run items with optional prologue, epilogue,
                keep-alive validation and exception handler which may
                be called with some arguments directly from parent run
                item or indirectly as package from run item of the
                another package or Tester configuration file. In the
                last case session is a primary (root) session of the
                package.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="objective" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Objective of the session.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="var" type="TestParameter">
                    <xsd:key name="vars">
                        <xsd:annotation>
                            <xsd:documentation>
                                Define key to refer to session variables.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:selector xpath=".">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Select all 'var' children of the
                                    session.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:selector>
                        <xsd:field xpath="@name">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Use 'name' attribute as key.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:field>
                    </xsd:key>
                    <xsd:unique name="var_values">
                        <xsd:annotation>
                            <xsd:documentation>
                                Define key to refer to values of the
                                variable.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:selector xpath="value">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Select all 'value' elements with
                                    'name' attribute of the variable.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:selector>
                        <xsd:field xpath="@name">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Use 'name' attribute as key.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:field>
                    </xsd:unique>
                    <xsd:keyref name="var_preferred_value" refer="var_values">
                        <xsd:annotation>
                            <xsd:documentation>
                                Define that 'preferred' attribute of the
                                current element must be a reference to
                                one of its values.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:selector xpath="."/>
                        <xsd:field    xpath="@preferred"/>
                    </xsd:keyref>
                </xsd:element>
                <xsd:element name="arg" type="TestParameter">
                    <xsd:annotation>
                        <xsd:documentation>
                            Argument common for all run items of
                            the session. It is passed to each run
                            item of the session automatically.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="enum" type="Enumeration">
                    <xsd:annotation>
                        <xsd:documentation>
                            A defined list of values to enumerate.
                        </xsd:documentation>
                    </xsd:annotation>
                    <xsd:key name="enums">
                        <xsd:annotation>
                            <xsd:documentation>
                                Define key to refer to enumerations.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:selector xpath=".">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Select all 'var' children of the
                                    session.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:selector>
                        <xsd:field xpath="@name">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Use 'name' attribute as key.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:field>
                    </xsd:key>
                    <xsd:unique name="enum_values">
                        <xsd:annotation>
                            <xsd:documentation>
                                Define key to refer to values of the
                                variable.
                            </xsd:documentation>
                        </xsd:annotation>
                        <xsd:selector xpath="value">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Select all 'value' elements with
                                    'name' attribute of the variable.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:selector>
                        <xsd:field xpath="@name">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Use 'name' attribute as key.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:field>
                    </xsd:unique>
                </xsd:element>
                <xsd:element name="req" type="Requirement" minOccurs="0"
                                                   maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            A set of requirements verified by the session.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="run-template" type="Run-Template" minOccurs="0"
                         maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Template with default values and script name.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="exception" type="InheritableExecutable"
                                      minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Exception handler to be called for exceptions
                        arised in the session. If exception handler
                        is not specified, is not inherited or failed,
                        then session is finished and exception is
                        passed to the parent.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="keepalive" type="InheritableExecutable"
                                      minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Keep-alive validation. It is performed before
                        and after each run item execution. It may be
                        directly called and globally disabled.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="prologue" type="PrologueEpilogue" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Session prologue. It's recommended to configure
                        agents here. It may be directly called and
                        globally disabled.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="epilogue" type="PrologueEpilogue" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Session epilogue. It's recommended to configure
                        agents here. It may be directly called and
                        globally disabled.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="run" type="Run" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Set of items to run.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="simultaneous" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation>
                    Run all items simultaneously or in series (default).
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
<!--
        <xsd:attribute name="random" type="boolean">
            <xsd:annotation>
                <xsd:documentation>
                    Run subsessions in random or strict (default)
                    order. Default value may be overrided by
                    corresponding option.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
-->
        <xsd:attributeGroup ref="RunItemAttributes"/>
    </xsd:complexType>

    <xsd:complexType name="PackageRun">
        <xsd:annotation>
            <xsd:documentation>
                Forces Tester to run external package. Usually it's
                just name of the subpackage (name of its directory).
                Also it may be relative path to any subpackage of the
                current root package or absolute path to any subpackage
                of the packages declared in Tester configuration file.
                Absolute path starts from '/' symbol and name of the
                root package declared in Tester configuration file.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="xsd:token">
            <xsd:annotation>
                <xsd:documentation>
                    Name of the (sub)package to run.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

<!--
    <xsd:simpleType name="DebuggingLevels">
        <xsd:annotation>
            <xsd:documentation>
                Enumeration of debugging levels.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:Name">
            <xsd:enumeration value="none"/>
            <xsd:enumeration value="debug"/>
            <xsd:enumeration value="trace"/>
            <xsd:enumeration value="mem"/>
            <xsd:enumeration value="entryexit"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="Debugging">
        <xsd:annotation>
            <xsd:documentation>
                Type for list of debugging values.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:list itemType="DebuggingLevels"/>
    </xsd:simpleType>
-->

    <xsd:complexType name="Run">
        <xsd:annotation>
            <xsd:documentation>
                Forces Tester to run script, session or package with
                specified arguments. The element may be used in the
                context of session or Tester configuration file.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0">
            <xsd:choice>
                <xsd:element name="script" type="Script"
                                       maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            External script to be executed.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="session" type="Session">
                    <xsd:annotation>
                        <xsd:documentation>
                            Session to be executed.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="package" type="PackageRun">
                    <xsd:annotation>
                        <xsd:documentation>
                            External package to be processed.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:group ref="Arguments"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Name of this run item. It may be used to call
                    specific item of the package.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="template" type="xsd:Name">
            <xsd:annotation>
                <xsd:documentation>
                    Template name to be used in this run item.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="iterate" type="xsd:unsignedInt" default="1">
            <xsd:annotation>
                <xsd:documentation>
                    Iterate this run item specified number of times.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="dial_coef" type="xsd:double" default="-1">
            <xsd:annotation>
                <xsd:documentation>
                    Coefficient applied to selection weight used
                    by --dial Tester option when randomly choosing
                    iterations.
                    Ignored if negative.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="track_conf" type="TrackConfType">
            <xsd:annotation>
                <xsd:documentation>
                    Tracks changes of the configuration. Enabled by
                    default. May be disabled by corresponging option.
                    Automatically disabled for all descendants of the
                    simultaneous session.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
<!--
        <xsd:attribute name="debugging" type="Debugging" default="none">
            <xsd:annotation>
                <xsd:documentation>
                    List of enabled debugging levels.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="forcerandom" type="boolean">
            <xsd:annotation>
                <xsd:documentation>
                    Modify 'random' attribute policy.  False value
                    forces to run all items in strict order.  True
                    value modifies default attribute value to 'true'
                    and, therefore, tries to use randomness where it
                    is allowed.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
-->
    </xsd:complexType>

    <xsd:simpleType name="EmptyString">
        <xsd:annotation>
                <xsd:documentation>
                    Type of empty strings
                    (mostly to use in xsd:union with other types)
                </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:length value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
