doc/xsd/trc_db.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: Apache-2.0 -->
<!-- Copyright (C) 2004-2025 OKTET Labs Ltd. All rights reserved. -->

<xsd:schema xml:lang="en" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"
                schemaLocation="http://www.w3.org/2001/03/xml.xsd" />

    <xsd:annotation>
        <xsd:documentation>
            Test Environment
            XML schema for expected testing results data base
        </xsd:documentation>
    </xsd:annotation>

    <xsd:simpleType name="result">
        <xsd:annotation>
            <xsd:documentation>
                Enumeration of test results which may be expected.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="UNSPEC"/>
            <xsd:enumeration value="PASSED"/>
            <xsd:enumeration value="FAILED"/>
            <xsd:enumeration value="SKIPPED"/>
            <xsd:enumeration value="FAKED"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="testType">
        <xsd:annotation>
            <xsd:documentation>
                Enumeration of test types.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:enumeration value="package"/>
            <xsd:enumeration value="script"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="iter">
        <xsd:annotation>
            <xsd:documentation>
                Iteration of the test with specified arguments.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="arg" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Unique set of arguments: name-value pairs.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType mixed="true">
                    <xsd:sequence>
                        <xsd:element name="field"  minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>
                                    A field of a structured value
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="name" type="xsd:string">
                                            <xsd:annotation>
                                                <xsd:documentation>
                                                    Field name of a structured value.
                                                </xsd:documentation>
                                            </xsd:annotation>
                                        </xsd:attribute>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="name" type="xsd:token">
                        <xsd:annotation>
                            <xsd:documentation>
                                Name of an argument.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="notes" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Notes specific for this iteration of the test.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="results" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        List of expected results for an iteration under various conditions.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>
                                    Set of tagged expected results of the iteration.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="verdict" type="xsd:string"
                                                 minOccurs="0" maxOccurs="unbounded">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                Set of expected verdicts.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="value" type="result"
                                               use="required">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            Expected result for these tags.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="key" type="xsd:string" default="">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            Key to the status of this iteration for
                                            this tag. E.g. BugZilla reference.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                                <xsd:attribute name="notes" type="xsd:string"
                                               default="">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            Notes specific for this tag.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="tags" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                Logical expression for tags marking the result.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="key" type="xsd:string" default="">
                        <xsd:annotation>
                            <xsd:documentation>
                                Key to the status of this iteration for
                                this tag. E.g. BugZilla reference.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="notes" type="xsd:string"
                                   default="">
                        <xsd:annotation>
                            <xsd:documentation>
                                Notes specific for this tag.
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="test" type="test"
                         minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        List of subtests of this iteration of the test
                        package.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="result" type="result" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    Default expected result of the test iteration.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="pos" type="xsd:unsignedInt">
            <xsd:annotation>
                <xsd:documentation>
                    Number of the iteration in the list of all its siblings
                    belonging to the same file.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="test">
        <xsd:annotation>
            <xsd:documentation>
                Description of the test (package, script).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="objective" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Objective of the test.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="notes" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Notes common for all iterations of the test.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="globals" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        List of global variables of a test.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="global" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>
                                    A record for a global variable.
                                </xsd:documentation>
                            </xsd:annotation>
                            <xsd:complexType mixed="true">
                                <xsd:sequence>
                                    <xsd:element name="value">
                                        <xsd:annotation>
                                            <xsd:documentation>
                                                The value of a global variable.
                                            </xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:complexType mixed="true">
                                            <xsd:sequence>
                                                <xsd:element name="field"  minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:annotation>
                                                        <xsd:documentation>
                                                            A field of a structured value
                                                        </xsd:documentation>
                                                    </xsd:annotation>
                                                    <xsd:complexType>
                                                        <xsd:simpleContent>
                                                            <xsd:extension base="xsd:string">
                                                                <xsd:attribute name="name" type="xsd:string">
                                                                    <xsd:annotation>
                                                                        <xsd:documentation>
                                                                            Field name of a structured value.
                                                                        </xsd:documentation>
                                                                    </xsd:annotation>
                                                                </xsd:attribute>
                                                            </xsd:extension>
                                                        </xsd:simpleContent>
                                                    </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="name" type="xsd:token" use="required">
                                    <xsd:annotation>
                                        <xsd:documentation>
                                            The name of a global variable.
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:attribute>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="iter" type="iter"
                         minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Set of iterations of the test.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute ref="xml:base">
            <xsd:annotation>
                <xsd:documentation>
                    Standard XML xml:base attribute, needed to
                    validate XMLs after XInclude processing.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:token" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    Name of the test.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="testType" default="script">
            <xsd:annotation>
                <xsd:documentation>
                    Type of the test: package or script.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="override" type="xsd:boolean">
            <xsd:annotation>
                <xsd:documentation>
                    If true, iterations under this test should completely
                    replace preexisting iterations when merging TRC databases.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="auxiliary" type="xsd:boolean" default="false">
            <xsd:annotation>
                <xsd:documentation>
                    Marks the test as auxiliary, e.g. a prologue or epilogue.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="pos" type="xsd:unsignedInt">
            <xsd:annotation>
                <xsd:documentation>
                    Number of the test in the list of all its siblings
                    belonging to the same file.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:element name="trc_db">
        <xsd:annotation>
            <xsd:documentation>
                Root element of the TRC database.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="test" type="test"
                             minOccurs="1" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:documentation>
                            Set of tests suites registered in the
                            database.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="version" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>
                        Version of the database.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="last_match" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
                        Should the first (false) or the last (true) matching
                        expectation be used.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="merged" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>
                        If true, this TRC database was created by merging other
                        TRC databases. So it may contain more than one iteration
                        entry matching a given test iteration.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
